
.main{
 display: flex;
 flex-direction: column;
}

.mdc-form-field{
 display: flex;
 flex-direction: row;
 flex-wrap: wrap;

 

}
p{
 flex-basis: 100%;

}
.mdc-radio{
 flex-grow: 0;
 
 


}
label{
 flex-basis: 90%;
 


}
