*{
 box-sizing: border-box;

}
.main{
 width: 450px;
 display: flex;
 padding-top: 50px;
 flex-direction: column;
 justify-content: flex-start;
 align-items: center;
 
}

.mdc-top-app-bar{
 margin: 0;
 width: 450px;

}

.mdc-form-field{
 display: flex;
 flex-direction: row;
 flex-wrap: wrap;
 

}
p{
 flex-basis: 100%;
 padding-top: 20px;
 
}
.mdc-radio{
 flex-grow: 0;
 

}
label{
 flex-basis: 90%;
 
}
#checkButton{

 
}

#startButton{
 
 margin-top: 100px;
 



}
